<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>contact</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-fab color="danger" vertical="top" horizontal="right" edge (click)="popPage()">Voltar</button>

</ion-content>
