<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
    <button ion-button color="secondary" round (click)= "pushPage()">Contact</button>
    <button ion-button color="danger" round (click)= "setPage()">Contact</button>
</ion-content>
